/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

.section-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.text-gray{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 10px ;
    cursor:no-drop ;
    border: 0;
}

/* header styles */

/* navbar styles */
header {
    background-color: #FF900E1A;
    padding: 40px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav> ul {
    display: flex;
}

nav  li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* navbar styles end */

/* banner style start */

.banner-content{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}


.banner, img{
    margin-top: 20px;
    width:100%;
}

/* banner style end */


/* feature section */

.teams-container{
    display: flex;
    align-items:center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.teams-content{
    padding-left: 40px;
    padding-right: 40px;
}

.teams-title{
    font-size: 2.6rem;
}

.teams-title .quick{
    color: #727272;
    font-weight: 500;
}
.teams-title .off-our{
    color: #131313;
    font-weight: 700;
}

.teams-title .feature{
    color: #FF900E;
    font-weight: 700;
}

/* feature section end */


/* responisive styles */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width:576px) and (max-width:990px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
}